.btn {
    width: 100px;
}

.popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../Bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('../Bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../Bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../Bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../Bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
.nav-sidebar li.active a:hover {
 background-color: #428bca;
}
.nav > li > a:focus {
    background-color: #428bca;
}
.popup .popup-content {
    margin: 100px auto 0px auto;
    width: 400px;
    height: auto;
    padding: 10px;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
}

body {
    padding-top: 50px;
}

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}
.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

ul.tagit {
    display: inline-block;
}

ul.tagit li {
    display: inline;
}

hr {
    margin-bottom: 5px;
}

input.required, select.required, textarea.required {
    background-color: #FFFACD;
}

input:-webkit-autofill.required   {
    -webkit-box-shadow: 0 0 0px 1000px #FFFACD inset;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #FFFACD inset;
}

input:-webkit-autofill.focus {
    -webkit-box-shadow: 0 0 0px 1000px #FFFACD inset;
}


.inline-box {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin: 1em;
   }
.inline-box-right {
    display: inline-block;
    /*height: 40px;*/
    vertical-align: middle;
    text-align: right;
    margin: 1em;
}

.img-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.profileImg {
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/* Styles go here */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 20px auto -20px;
    /* Pad bottom by footer height */
    padding: 0 0 50px;
}

.footerButtons {
    color: inherit;
    text-decoration: inherit;
}

.navbar .nav > li > a {
    float: none;
    line-height: 23px;
    padding: 9px 10px 11px;
    text-shadow: none;
    text-decoration: underline;
    color: #ffffff;
}

.navbar .nav > li > a.loginButton {
    float: none;
    line-height: 23px;
    padding: 9px 10px 11px;
    text-shadow: none;
    text-decoration: underline;
    color: #0044cc;
}


.btn-sharp {
    border-radius: 0 !important;
}
