<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <!--Manually configure util-->
    <bean id="namesHolder"
          class="net.github.rtc.util.converter.ValidationNamesHolder"/>
    <bean id="scanner"
          class="net.github.rtc.util.converter.AnnotatedFieldScanner"/>
    <bean id="ruleFactory"
          class="net.github.rtc.util.converter.ValidationRuleFactory"/>
    <bean id="validationConverter"
          class="net.github.rtc.util.converter.Converter"/>
    <bean id="validationContext"
          class="net.github.rtc.util.converter.ValidationContext">
        <constructor-arg index="0" name="converter" ref="validationConverter"/>
        <constructor-arg index="1" name="packagePath"
                         value="net.github.rtc.app.model"/>
    </bean>
    <bean id="eMessageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="classpath:/errorMessages" />
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>
    <!--################################################## -->

    <bean id="rtcMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="465" />
        <!--is port here reqiered???-->
        <property name="username" value="rtcsender@gmail.com" />
        <property name="password" value="xnndxdfkoavg" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.smtp.ssl.trust">smtp.gmail.com</prop>
                <prop key="mail.smtp.port">465</prop>
                <prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
            </props>
        </property>
    </bean>


    <util:map id="serviceHolder" map-class="java.util.HashMap">
        <entry>
            <key>
                <value type="java.lang.Class">net.github.rtc.app.model.entity.user.User</value>
            </key>
            <ref bean="userServiceImpl"/>
        </entry>

        <entry>
            <key>
                <value type="java.lang.Class">net.github.rtc.app.model.entity.course.Course</value>
            </key>
            <ref bean="courseServiceImpl"/>
        </entry>
    </util:map>
</beans>
